# 1. 데이터 불러오기

In [25]:
import pandas as pd


diamond = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv" )
diamond

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [37]:
# 구조 보기
diamond.shape

(53940, 10)

In [26]:
# 특성 보기
diamond.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [27]:
# 레이블의 값 보기
print(pd.unique(diamond['price']))

[ 326  327  334 ... 2753 2755 2756]

# 2. 데이터 EDA

In [28]:
# cut의 특성에 대해 라벨인코딩 진행
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
diamond['cut'] = le.fit_transform(diamond['cut'])
print(le.classes_)
print(diamond['cut'])

['Fair' 'Good' 'Ideal' 'Premium' 'Very Good']
0        2
1        3
2        1
3        3
4        1
        ..
53935    2
53936    1
53937    4
53938    3
53939    2
Name: cut, Length: 53940, dtype: int32

In [29]:
#마찬가지로 color와 clarity에 대해서 라벨인코딩 진행
le = LabelEncoder()
diamond['color'] = le.fit_transform(diamond['color'])
print(le.classes_)
print(diamond['color'])
le = LabelEncoder()
diamond['clarity'] = le.fit_transform(diamond['clarity'])
print(le.classes_)
print(diamond['clarity'])

['D' 'E' 'F' 'G' 'H' 'I' 'J']
0        1
1        1
2        1
3        5
4        6
        ..
53935    0
53936    0
53937    0
53938    4
53939    0
Name: color, Length: 53940, dtype: int32
['I1' 'IF' 'SI1' 'SI2' 'VS1' 'VS2' 'VVS1' 'VVS2']
0        3
1        2
2        4
3        5
4        3
        ..
53935    2
53936    2
53937    2
53938    3
53939    3
Name: clarity, Length: 53940, dtype: int32

In [30]:
# 레이블과 데이터로 나눔
label = diamond['price']
print(label.shape)
data = diamond.drop('price', axis=1)
print(data.shape)

(53940,)
(53940, 9)

In [31]:
# 훈련세트와 테스트 세트로 분리
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data, label, random_state=42)
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(40455, 9) (13485, 9)
(40455,) (13485,)

In [19]:
x_train

       carat  cut  color  clarity  depth  table     x     y     z
35965   0.25    1      1        7   64.9   58.0  3.95  3.97  2.57
52281   0.84    2      6        2   61.8   56.0  6.04  6.07  3.74
6957    1.05    3      6        5   61.1   58.0  6.56  6.51  3.99
9163    1.02    2      2        3   60.7   56.0  6.53  6.50  3.95
50598   0.61    2      2        4   61.8   57.0  5.43  5.47  3.37
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
11284   1.05    4      5        5   62.4   59.0  6.48  6.51  4.05
44732   0.47    2      0        4   61.0   55.0  5.03  5.01  3.06
38158   0.33    4      2        1   60.3   58.0  4.49  4.46  2.70
860     0.90    3      6        2   62.8   59.0  6.13  6.03  3.82
15795   1.14    3      2        2   60.4   58.0  6.82  6.79  4.11

[40455 rows x 9 columns]

In [32]:
y_train.values
y_test.values

array([ 559, 2201, 1238, ..., 9215, 4416, 3564], dtype=int64)

## 3. 머신러닝 모델 생성
3-1) 머신러닝 회귀

In [38]:
# LinearRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model_LR = LinearRegression()
model_LR.fit(x_train, y_train)
LR_preds = model_LR.predict(x_test)

print(LR_preds)
print('MSE', mean_squared_error(LR_preds, y_test))

[ 352.59635171 3360.02287028 2137.46110699 ... 8126.16251685 5238.53467557
 5137.07296831]
MSE 1791287.5188648454

In [39]:
# RandomForest
from sklearn.ensemble import RandomForestRegressor
model_RF = RandomForestRegressor()
model_RF.fit(x_train, y_train)
RF_pred = model_RF.predict(x_test)

print(RF_pred)
print('MSE', mean_squared_error(RF_pred, y_test))

[ 545.92 2371.91 1209.42 ... 9239.83 4331.08 4285.13]
MSE 294498.6991644737

In [41]:
# Decision Tree
from sklearn.tree import DecisionTreeRegressor

model_DT = DecisionTreeRegressor()
model_DT.fit(x_train, y_train)

DT_pred = model_DT.predict(x_test)

print(DT_pred)
print("MSE", mean_squared_error(DT_pred, y_test))

[ 559. 2263. 1238. ... 9596. 4497. 4964.]
MSE 539839.975398591

In [42]:
# SVR
from sklearn.svm import SVR

model_svr = SVR(kernel='linear')
model_svr.fit(x_train, y_train)

SVR_preds = model_svr.predict(x_test)

print(SVR_preds)
print('MSE', mean_squared_error(SVR_preds, y_test))

[-348.80764497 3223.65423115 1739.10598702 ... 6754.64519523 5013.61646487
 5032.35149753]
MSE 3350611.6137814447